*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.root {
  margin: 0 auto;
  max-width: 1440px;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:focus-visible {
  outline: 3px solid #005fcc;
  outline-offset: 2px;
}
